
<header class="w-100">
  <div class="w-100 text-center background-dark text-white d-flex justify-content-around align-items-center">
    <div class="d-flex align-items-center gap-2">
      <span><strong>IK Studio</strong> stands with Ukraine</span>
      <img src="/assets/ukraine.svg" alt="Ukrainian Flag" style="width: 28px; height: 28px;" />
    </div>
  </div>
  <div class="position-relative vw-100 vh-100 overflow-hidden d-flex align-items-center justify-content-center" style="background: #000;">
    <div class="position-absolute top-0 start-0 w-100 h-100 header-banner"></div>
    <div class="position-relative z-1 d-flex flex-column align-items-center justify-content-center w-100 h-100">
      <div class="d-flex flex-column align-items-center justify-content-center mb-3 gap-2">
        <img src="/assets/tempest-reef-logo.svg" alt="Tempest Reef Logo" style="width: 120px; height: 120px;" />
        <h1 class="display-1 mb-1 text-white papyrus-font text-center">TEMPEST REEF</h1>
        <div class="h2 papyrus-font" style="color: #b9bdbd">
          <span>Survive or get lost to the sea</span>
        </div>
      </div>
      <div class="p-2 background-gradient px-5">
        <div class="h4 text-white text-center cormorant-garamond-font mx-3">
          <span>Launching in:</span><br />
          <span>{{ days }} days </span>
          <span>{{ hours }} hours </span>
          <span>{{ minutes }} minutes </span>
          <span>{{ seconds }} seconds</span>
        </div>
      </div>
      <div class="mt-5 d-flex gap-4">
        <a href="https://steamcommunity.com/groups/ikstudio" target="_blank" aria-label="Steam">
          <img class="svg-white" src="/assets/steam.svg" alt="Steam" style="width: 40px; height: 40px; transition: transform 0.2s;" onmouseover="this.style.transform='scale(1.1)'" onmouseout="this.style.transform='scale(1)'" />
        </a>
        <a href="https://discord.gg/G6c26KQzqg" target="_blank" aria-label="Discord">
          <img class="svg-white" src="/assets/discord.svg" alt="Discord" style="width: 40px; height: 40px; transition: transform 0.2s;" onmouseover="this.style.transform='scale(1.1)'" onmouseout="this.style.transform='scale(1)'" />
        </a>
        <a href="https://www.threads.com/@ikstudio.ua" target="_blank" aria-label="Threads">
          <img class="svg-white" src="/assets/threads.svg" alt="Threads" style="width: 40px; height: 40px; transition: transform 0.2s;" onmouseover="this.style.transform='scale(1.1)'" onmouseout="this.style.transform='scale(1)'" />
        </a>
        <a href="https://x.com/ikstudioukr" target="_blank" aria-label="Twitter">
          <img class="svg-white" src="/assets/x.svg" alt="Twitter" style="width: 40px; height: 40px; transition: transform 0.2s;" onmouseover="this.style.transform='scale(1.1)'" onmouseout="this.style.transform='scale(1)'" />
        </a>
      </div>
    </div>
  </div>
</header>
