<header class="w-full">
  <div
    class="py-1 w-full text-center background-green text-white flex justify-around items-center space-x-10"
  >
    <div class="flex items-center space-x-2 justify-baseline">
      <span><strong>IK Studio</strong> stands with Ukraine</span>
      <img src="/assets/ukraine.svg" alt="Ukrainian Flag" class="w-7 h-7" />
    </div>
  </div>
  <div
    class="relative w-screen h-screen overflow-hidden flex items-center justify-center"
    style="background: #000"
  >
    <div class="absolute inset-0 w-full h-full header-banner"></div>

    <div
      class="relative z-10 flex flex-col items-center justify-center w-full h-full"
    >
      <div class="flex flex-col items-center justify-center mb-10 space-y-3">
        <img
          src="/assets/tempest-reef-logo.svg"
          alt="Tempest Reef Logo"
          class="w-30 h-30"
        />
        <h1
          class="text-6xl md:text-8xl mb-3 text-white papyrus-font text-center"
        >
          TEMPEST REEF
        </h1>
        <div class="text-2xl md:text-4xl text-gray-300 papyrus-font">
          <span>Survive or get lost to the sea</span>
        </div>
      </div>
      <div class="background-gradient p-2">
        <div
          class="text-1xl md:text-2xl text-white text-center cormorant-garamond-font mx-30"
        >
          <span>Launching in:</span>
          <br />
          <span>{{ days }} days </span>
          <span>{{ hours }} hours </span>
          <span>{{ minutes }} minutes </span>
          <span>{{ seconds }} seconds</span>
        </div>
      </div>
      <div class="mt-30 flex space-x-6">
        <a
          href="https://steamcommunity.com/groups/ikstudio"
          target="_blank"
          aria-label="Steam"
        >
          <img
            src="/assets/steam.svg"
            alt="Steam"
            class="w-10 h-10 hover:scale-110 transition-transform svg-white"
          />
        </a>
        <a href="https://discord.gg/G6c26KQzqg" target="_blank" aria-label="Discord">
          <img
            src="/assets/discord.svg"
            alt="Discord"
            class="w-10 h-10 hover:scale-110 transition-transform svg-white"
          />
        </a>
        <a href="https://www.threads.com/@ikstudio.ua" target="_blank" aria-label="Threads">
          <img
            src="/assets/threads.svg"
            alt="Threads"
            class="w-10 h-10 hover:scale-110 transition-transform svg-white"
          />
        </a>
        <a href="https://x.com/ikstudioukr" target="_blank" aria-label="Twitter">
          <img
            src="/assets/x.svg"
            alt="Twitter"
            class="w-10 h-10 hover:scale-110 transition-transform svg-white"
          />
        </a>
      </div>
    </div>
  </div>
</header>
